@font-face {
    font-family: 'Swell Braille';
    src: url('./assets/fonts/Swell_Braille.ttf') format('truetype'),
        url('./assets/fonts/Swell_Braille.woff') format('woff'),
        url('./assets/fonts/Swell_Braille.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Braille29';
    src: url('./assets/fonts/Braille29.ttf') format('truetype'),
        url('./assets/fonts/Braille29.woff') format('woff'),
        url('./assets/fonts/Braille29.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'California Braille';
    src: url('./assets/fonts/California_Braille_BJ_24pt.ttf') format('truetype'),
        url('./assets/fonts/California_Braille_BJ_24pt.woff') format('woff'),
        url('./assets/fonts/California_Braille_BJ_24pt.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}